tours {
	padding-top: 150px;
	padding-bottom: 60px;
}

.tours__item__text {
	padding-right: 30px;
	margin-bottom: 100px;
}

.tours__item__text.tours__item__text--right {
	padding-left: 30px;
	padding-right: 0;
}

.tours__item__text h2 {
	font-size: 42px;
	color: #111111;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.tours__item__text .tours__text__widget {
	overflow: hidden;
	border-bottom: 2px solid #f2f2f2;
	padding-bottom: 38px;
}

.tours__item__text .tours__text__widget ul {
	float: left;
}

.tours__item__text .tours__text__widget ul li {
	list-style: none;
	font-size: 15px;
	color: #111111;
	padding-left: 35px;
	position: relative;
	margin-bottom: 10px;
}

.tours__item__text .tours__text__widget ul li:last-child {
	margin-bottom: 0;
}

.tours__item__text .tours__text__widget ul li i {
	color: #5c00ce;
	position: absolute;
	left: 0;
	top: 3px;
}

.tours__item__text .tours__text__widget ul li span {
	display: inline-block;
	padding-right: 8px;
	position: relative;
	margin-right: 5px;
}

.tours__item__text .tours__text__widget ul li span:last-child {
	padding-right: 0;
	margin-right: 0;
}

.tours__item__text .tours__text__widget ul li span:last-child:after {
	display: none;
}

.tours__item__text .tours__text__widget ul li span:after {
	position: absolute;
	right: 0;
	top: 0;
	content: "|";
}

.tours__item__text .tours__text__widget .price {
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	padding: 14px 25px 12px 30px;
	background: #5c00ce;
	float: right;
}

.tours__item__text .tours__text__desc {
	padding-top: 40px;
	margin-bottom: 65px;
}

.tours__item__text .tours__text__desc p {
	color: #111111;
	margin-bottom: 20px;
}

.tours__item__text .tours__text__desc p:last-child {
	margin-bottom: 0;
}

.tours__item__pic {
	position: relative;
	z-index: 1;
	padding-right: 50px;
	margin-bottom: 110px;
	padding-left: 30px;
}

.tours__item__pic.tours__item__pic--left {
	padding-left: 50px;
	padding-right: 0;
}

.tours__item__pic.tours__item__pic--left:after {
	left: 0;
}

.tours__item__pic.tours__item__pic--last {
	margin-bottom: 0;
}

.tours__item__pic:after {
	position: absolute;
	left: 50px;
	top: -50px;
	width: calc(100% - 50px);
	height: 100%;
	border: 20px solid #a6fed0;
	content: "";
	z-index: -1;
}

.tours__item__pic img {
	min-width: 100%;
}
.primary-btn {
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 14px 25px 12px;
	color: #ffffff;
	background: #5c00ce;
	letter-spacing: 2px;
}

.primary-btn.border-btn {
	background: transparent;
	border: 2px solid #10de73;
	color: #111111;
}

/* main slider */
/* main-slider{ margin-top: 265px; position: relative; height: calc(100vh - 265px); min-height: 550px;
	width: 100%; overflow: hidden; }  
 
.main-slider .slider-content{ padding: 25px 60px 25px 40px!important; border-radius: 3px!important;
	background: rgba(0,0,0,.6); color: #fff; }

.slider-content .btn{ padding: 7px 15px; }

.slider-content .title{ margin: 10px 0 0; letter-spacing: 3px; }


#slider{ height: 100%; width: 100%; }
 
.main-slider .ls-nav-prev,
.main-slider .ls-nav-next{ display: block!important; opacity: 1!important; }

.main-slider{ margin-top: 205px; height: calc(400px - 205px); min-height: 350px; }  
	 
	.main-slider .slider-content{ padding: 15px 20px!important; margin-left: 20px!important; 
		top: 30px!important; }

	.slider-content .btn{ padding: 7px 15px; }

	.slider-content .title{ letter-spacing: 0px; }

	
	.main-slider .ls-nav-prev,
	.main-slider .ls-nav-next{ display: none!important; } */

    /* TRACK SECTION */

    .track {
        padding-top: 120px;
        padding-bottom: 40px;
        overflow: hidden;
    }
    
    .track .section-title {
        margin-bottom: 105px;
    }
    
    .track__content {
        height: 502px;
        overflow-y: auto;
    }
    
    .track__all {
        text-align: right;
        margin-bottom: 100px;
    }
    
    .jp-play {
        position: relative;
        height: 50px;
        width: 50px;
        background: transparent;
        border: 2px solid #e1e1e1;
        border-radius: 50%;
    }
    
    .jp-play:after {
        position: absolute;
        display: block;
        left: 17px;
        top: 12px;
        width: 16px;
        height: 20px;
        background: url(../img/play-default.png);
        content: "";
    }
    
    .jp-state-playing .jp-play {
        background: #10de73 !important;
        border-color: #10de73 !important;
    }
    
    .jp-state-playing .jp-play:after {
        background: url(../img/pause.png) !important;
        left: 15px;
        top: 12px;
    }
    
    .jp-audio .jp-play:focus {
        background: #10de73 !important;
        border-color: #10de73 !important;
    }
    
    .jp-audio .jp-play:focus:after {
        background: url(../img/play.png);
    }
    
    .jp-seek-bar>div {
        height: 5px;
        background: #e1e1e1;
        cursor: pointer;
        width: 245px;
    }
    
    .player_bars {
        width: 350px;
        display: table;
        padding-left: 50px;
        position: relative;
        padding-top: 25px;
        float: left;
        margin-right: 30px;
    }
    
    .jp-play-bar {
        position: relative;
        height: 100%;
        background: #10de73;
        overflow: visible !important;
    }
    
    .jp-current-time {
        font-size: 15px;
        color: #111111;
        position: absolute;
        left: -50px;
        top: -9px;
    }
    
    .jp-duration {
        font-size: 15px;
        color: #111111;
        position: absolute;
        right: 0;
        top: 16px;
    }
    
    .player_controls_box {
        width: 50px;
        float: left;
        margin-right: 20px;
    }
    
    .jp-mute {
        font-size: 18px;
        border: none;
        background: none;
        color: #111111;
        position: absolute;
        left: 0;
        top: 13px;
    }
    
    .jp-volume-bar {
        height: 5px;
        width: 70px;
        background: #e1e1e1;
        cursor: pointer;
    }
    
    .jp-volume-bar-value {
        background: #10de73;
        height: 100%;
    }
    
    .jp-volume-controls {
        position: relative;
        width: 95px;
        float: left;
        padding-left: 30px;
        padding-top: 25px;
    }
    
    .single_player_container {
        overflow: hidden;
        margin-bottom: 40px;
    }
    
    .single_player_container:last-child {
        margin-bottom: 0;
    }
    
    .single_player_container h4 {
        font-size: 26px;
        color: #111111;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    
    .track__pic {
        position: relative;
        z-index: 1;
    }
    
    .track__pic:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        content: "";
        z-index: -1;
    }
    
    .track__pic img {
        position: relative;
        top: -50px;
        width: calc(100% - 40px);
        margin-left: 40px;
        height: 502px;
    }

    .team
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 95px;
	padding-bottom: 89px;
}
.team_row
{
	margin-top: 74px;
}
.team_member
{
	width: 100%;
}
.team_member_image
{
	width: 100%;
	height: 337px;
}
.team_member_image img
{
	max-width: 100%;
}
.team_member_info
{
	width: 100%;
	text-align: center;
	margin-top: 57px;
}
.team_member_name a
{
	font-size: 18px;
	font-weight: 500;
	color: #232323;
}
.team_member_title
{
	font-size: 14px;
	font-weight: 400;
	color: #696969;
	margin-top: 9px;
}
.team_member_name a:hover{
color: #10de73;
}
